---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';

import Layout from '~/layouts/PageLayout.astro';
import ProductList from '~/components/product/List.astro';
import Headline from '~/components/blog/Headline.astro';
import Pagination from '~/components/blog/Pagination.astro';

import { productTypeRobots, getStaticPathsProductType } from '~/utils/product';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsProductType({ paginate });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page, type } = Astro.props;
const currentPage = page.currentPage ?? 1;

const metadata = {
  title: `${type.title}${currentPage > 1 ? ` — Страница ${currentPage}` : ''}`,
  robots: {
    index: productTypeRobots?.index && currentPage === 1,
    follow: productTypeRobots?.follow,
  },
  openGraph: {
    type: 'website',
  },
};
---

<Layout metadata={metadata}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline subtitle={`Продукция типа ${type.title}`}>{type.title}</Headline>
    <ProductList products={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</Layout>
